<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Horario -->
    <add key="HoraInicio" value="8"/>
    <add key="HoraFin" value="20"/>


    <!-- Horario -->
    <add key="FTPFolderMove" value="/Reporte Pago de Pólizas/Procesados/" />
    <!-- Conexiones -->
    <add key="DBLink" value="SERVER=10.74.79.231;PORT=8958;UID=BnextMonitor;PWD=bDkXZXGQgt;DATABASE=BNext_BI" />
    <!-- FTP -->
    <add key="FTPHost" value="50.22.150.50" />
    <add key="FTPPort" value="7216" />
    <add key="FTPFolder" value="/Reporte Pago de Pólizas/" />
    <add key="FTPUser" value="bnextmtc" />
    <add key="FTPPass" value="MtCc0nc1l14c10n" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

  </appSettings>
</configuration>